html {
    min-height: 100%; 
}


body {
     
    background: linear-gradient(#0000ff, #ff0000); 
    
}



h1{
  color:#32CD32
}
li{
float:left;
wigth:auto;
}
a{
color:blue;
background:#FFD700;
text-decoration:none;
display: block;
padding: 10px 25px;
}
li:hover a {
background:linear-gradient(#ff0000, #0000ff);
text-decoration:underline;
}
ul{
list-style:none;
}
p{
  color:#00FA9A
}